<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Petception</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/viewport-workaround.css" rel="stylesheet" />
    <link href="css/navbar.css" rel="stylesheet" />
    <link href="css/theme.css" rel="stylesheet" />
</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Petception</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 0.883333px;">
            <ul class="nav navbar-nav">
                <li><a class="active" href="/about">About</a></li>
                <li><a href="#contact">Search for pets</a></li>
                <li><a href="/addPet">Add your pet</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email"></input>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password"></input>
                </div>
                <button class="btn btn-success" type="submit">Sign in</button>
                <a href="/register" class="btn btn-lg btn-link" >New User?</a>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <!-- Example row of columns -->
    <div class="jumbotron">
        <h3>Petception</h3>
        <h2>Add a Family Member</h2>
        <p>This is a one stop to adopt new pets. You can also put up your pet for adoption. Want to give me feedback or you have any issues with website, send me a mail at manjitsingh.bits@gmail.com</p>
    </div>

    <hr/>

    <footer>
        <p>&copy; 2016 Petception, Inc.</p>
    </footer>
</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
</body>
</html>