<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Petception</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand active">Petception</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 0.883333px;">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="#contact">Search for pets</a></li>
                <li><a href="/addPet">Add your pet</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email"></input>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password"></input>
                </div>
                <button class="btn btn-success" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</nav>
<hr />
<div class="container">
<div class="jumbotron">
        <h2 th:text="${header}" ></h2>
        <p th:text="${headerText}"></p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
</div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div  id="petDetails" th:each="pet : ${pets}" class="col-md-4">
            <hr />
            <img alt="200x200" class="img-thumbnail" src="" th:id="${pet.url}" data-src="holder.js/200x200" style="float:right; width: 200px; height: 200px;"
                 data-holder-rendered="true" />
            <h2 th:text="${pet.name}"></h2>
            <p th:text="${pet.breed}"></p>
            <p th:text="${pet.type}"></p>
            <p th:text="${pet.age}"></p>
            <button type="button" class="btn btn-default" data-toggle="modal"
                    th:attr="data-target='#'+${pet.petId}"
            >More Pet Details</button>
            <div th:id="${pet.petId}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" th:text="${pet.name}"> </h3>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item" th:inline="text">Name: [[${pet.name}]]</li>
                                <li class="list-group-item" th:inline="text">Age: [[${pet.age}]]</li>
                                <li class="list-group-item" th:inline="text">Pet: [[${pet.type}]]</li>
                                <li class="list-group-item" th:inline="text">Breed:[[${pet.breed}]] </li>
                                <li class="list-group-item" th:inline="text">Color: [[${pet.color}]]</li>
                                <li class="list-group-item" th:inline="text">Weight: [[${pet.weight}]] </li>
                                <li class="list-group-item" th:inline="text">Comment: [[${pet.comment}]]</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr></hr>

    <footer>
        <p>&copy; 2016 Petception, Inc.</p>
    </footer>
</div>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
<script src="userjs/indexjQuery.js"></script>

</body>
</html>