<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Petception</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/viewport-workaround.css" rel="stylesheet" />
    <link href="css/navbar.css" rel="stylesheet" />
    <link href="css/signin.css" rel="stylesheet" />
</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand active">Petception</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 0.883333px;">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="#contact">Search for pets</a></li>
                <li><a href="/addPet">Add your pet</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <!-- Example row of columns -->
    <form class="form-signin" action="/completeRegistration" method="POST">
        <div th:if="${errorResponse}">
            <div role="alert" class="alert alert-danger">
                <p th:text="${errorResponse}"></p>
            </div>
        </div>
        <h2 class="form-signin-heading">Please Register</h2>
        <label class="sr-only" for="inputEmail">Email address</label>
        <input type="email" autofocus="" required="" placeholder="Email address" class="form-control" name="username" id="inputEmail" />
        <label class="sr-only" for="inputPassword">Password</label>
        <input type="password" required="" placeholder="Password" class="form-control" name="password" id="inputPassword" />
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register User"></input>
    </form>
    <hr />
    <footer>
        <p>&copy; 2016 Petception, Inc.</p>
    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
</body>
</html>