<form name="petForm" ng-init="petData={}" novalidate>
    <div role="alert" ng-show="petAddInfo.success === 1" class="alert alert-success">
        <strong>Well done!</strong> You successfully added your pet
    </div>

    <div role="alert" ng-show="petAddInfo.error === 1" class="alert alert-danger">
        <strong ng-repeat='error in petAddInfo.errorMessage'>{{error}}<br></strong>
    </div>

    <div class="form-group">
        <label for="nameofPet">Name of your pet</label>
        <input class="form-control" ng-model="petData.name" id="nameOfPet" type="text">
    </div>

    <div class="form-group">
        <label for="ageOfPet">Age of your pet in months</label>
        <input class="form-control" ng-model="petData.age" id="ageOfPet" type="text">
    </div>

    <div class="form-group">
        <label for="breedOfPet">Breed of your pet</label>
        <input class="form-control" ng-model="petData.breed" id="breed" type="text">
    </div>

    <div class="form-group">
        <label for="typeOfPet">Type of your pet</label>
        <input class="form-control" ng-model="petData.type" id="type" type="text">
    </div>

    <div class="form-group">
        <label for="weight">Weight of your pet in pounds</label>
        <input class="form-control" ng-model="petData.weigthInLbs" id="weight" type="text">
    </div>

    <div class="form-group">
        <label for="vaccination">Vacinnation history of your pet</label>
        <input class="form-control" ng-model="petData.vaccine" id="vaccine" type="text">
    </div>

    <div class="form-group">
        <label for="color">Color of your pet</label>
        <input class="form-control" ng-model="petData.color" id="color" type="text">
    </div>

    <div class="form-group">
        <label for="comments">Comment</label>
        <textarea class="form-control" ng-model="petData.comments" id="comments" > </textarea>
    </div>

    <div class="form-group">
        <label for="photo">Upload Pic</label>
        <input type="file" ng-model="petData.filePath" name="fileToUpload" id="fileToUpload">
    </div>

    <h2>
    <button class="label label-success" type="submit" ng-click="petAddInfo.addPet(petData)" >Add your pet</button>
        </h2>
</form>